{% extends "mainblog/base.html" %}

{% block title %}DasdisBook{% endblock %}

{% block content %}
<h1>DasdisBook</h1>
<p>Does this book exist?</p>
<input type="text" class="form-control" id="search" placeholder="Search something...">
<div class="container mt-3" id="result">
    <table class='table table-borderless'>
        <tbody style="background-color: whitesmoke;"></tbody>
    </table>
</div>
<script>
$(document).on("keyup", "#search", function(){
    $('#result table tbody').empty();
    var query = $('#search').val();
    if (query) {
        console.log(query);
        $.ajax({
            url : "{% url 'dasdisBook:search' %}?q=" + query,
            type: 'GET',
            dataType: 'json',
            success: function(result) {
                console.log(result.items);
                var resultArr = result.items;
                var resultHTML = "";
                resultArr.forEach(book => {
                    resultHTML += "<tr>";
                    resultHTML += "<td style='width: 128px;'><img src='" + book.volumeInfo.imageLinks.smallThumbnail + "'></td>";
                    resultHTML += "<td colspan=5>";
                    resultHTML += "<b>" +  book.volumeInfo.title + "</b><br>";
                    if ("subtitle" in book.volumeInfo) {
                        resultHTML += "<b>" + book.volumeInfo.subtitle + "</b><br>";
                    }
                    if ("authors" in book.volumeInfo) {
                        if (book.volumeInfo.authors.length > 2) {
                            resultHTML += "Author: " + book.volumeInfo.authors[0] + " and others<br>";
                        } else if (book.volumeInfo.authors.length > 1) {
                            resultHTML += "Author: " + book.volumeInfo.authors[0] + " and " + book.volumeInfo.authors[1] + "<br>";
                        } else {
                            resultHTML += "Author: " + book.volumeInfo.authors[0] + "<br>";
                        }
                    }
                    resultHTML += "Publisher: " + book.volumeInfo.publisher + "<br>";
                    if ("publishedDate" in book.volumeInfo) {
                        resultHTML += "Published at: " + book.volumeInfo.publishedDate + "<br>";
                    }
                    resultHTML += "<a href='" + book.volumeInfo.infoLink + "' class='btn ppwstories-btn' target='_blank'>View Info</a>"
                    resultHTML += "</td>";
                    resultHTML += "</tr>";
                });
                $('#result table tbody').html(resultHTML);
            }
        });
    }
})
</script>


{% endblock %}