{% extends "matkulList/base.html" %}

{% block addition %}- Add Matkul{% endblock %}

{% load static %}
{% load bootstrap4 %}
{% block matkulstuff %}
<h2>Add Matkul</h2>
<form action="{% url 'matkulList:add' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn ppwstories-btn" type="submit" value="add">
</form>
{% endblock %}