{% extends "matkulList/base.html" %}

{% block addition %}{% endblock %}

{% load static %}
{% block matkulstuff %}
<h2>Delete Matkul</h2>
<p>Are you sure you want to delete <b>{{ matkul.title }}</b>?</p>
<form action="" method="POST">
    {% csrf_token %}
    <div style="display: block-inline;">
        <input class="btn ppwstories-btn" type="submit" value="Delete">
        <a class="btn ppwstories-btn" href="{% url 'matkulList:view' matkul.pk %}">Go back</a>
    </div>
</form>
{% endblock %}