{% extends "matkulList/base.html" %}

{% block addition %}- {{ matkul.title }}{% endblock %}

{% load static %}
{% block matkulstuff %}
<h2>{{ matkul.title }}</h2>
<p><b>{{ matkul.term }}</b></p>
<p><b>Lecturer:</b> {{ matkul.lecturer }}</p>
<p><b>Total credits:</b> {{ matkul.total_credits }} credits</p>
<p><b>Location:</b> {{ matkul.location }}</p>
<P><b>Description:</b><br>{{matkul.description }}</P>
<div style="display: inline-block;">
    <a class="btn ppwstories-btn" href="{% url 'matkulList:delete' matkul.pk %}">Delete</a>
    <a class="btn ppwstories-btn" href="{% url 'matkulList:index' %}">Back</a>
</div>
{% endblock %}