{% extends "bulletinBoard/base.html" %}

{% block addtion %}| login{% endblock %}

{% block bulletinBoard %}
<h2>See what have been posted here!</h2>
<div class="d-flex justify-content-between">
    <div>
        {% if user.is_authenticated %}
        You logged in as <b>{{ request.user.username }}</b> <a class="btn ppwstories-btn" href="{% url 'bulletinBoard:logout' %}">logout</a>
        {% else %}
        Login or sign up to post in Bulletin Board
        {% endif %}
    </div>
    <div role="group" aria-label="Basic example">
        <a class="btn ppwstories-btn" href="{% url 'bulletinBoard:login' %}">Login</a>
        <a class="btn ppwstories-btn" href="{% url 'bulletinBoard:signup' %}">Sign Up</a>
    </div>
</div>
<div class="d-flex" style="min-height: 200px; min-width: 100%;">
    <ul class="list-group" id="BulletinPosts">
    </ul>
</div>
<script>
function loadPosts() {
    $.ajax({
        url: "{% url 'bulletinBoard:view' %}?p=1",
        type: "GET",
        dataType: "json",
        success: function(result) {
            resultHTML = "";
            $.each(result, function(key, val) {
                resultHTML += "<li class='list-group-item'>";
                resultHTML += "<b>" + val.username + "</b> at " + val.postTime + "<br>";
                resultHTML += "<p>" + val.content + "</p>";
                resultHTML += "</li>";
            });
            $("#BulletinPosts").html(resultHTML);
        }
    })
}

$(document).ready(loadPosts);
</script>
{% if user.is_authenticated %}
<script>
function post(){
    $("#fail").css("display","none")
    var content = $("#id_content").val();
    if (content.length > 0) {
        $.ajax({
            headers: { "X-CSRFToken": '{{csrf_token}}' },
            url: "{% url 'bulletinBoard:post' %}",
            type: "POST",
            data: {'content' : content},
            success: loadPosts,
            error: function(){$("#fail").css("display","block")}
        });
    }
}
</script>
<h2>Post something here!</h2>
<div class="alert alert-danger" role="alert" id="fail" style="display: none;">
    Whoops! There is something wrong from here! O.o
</div>
<div id="bulletinForm">
    {% load bootstrap4 %}
    {% bootstrap_form form %}
    <button class="btn ppwstories-btn" onclick="post()">Post</button>
</form>
{% endif %}
{% endblock %}