{% extends "bulletinBoard/base.html" %}

{% block addtion %}| login{% endblock %}

{% block bulletinBoard %}
<h2>Login</h2>
<div class="form-group">
    Login to post in Bulletin Board
</div>
{% if error %}
<div class="alert alert-danger" role="alert">
    {{ error }}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <button type="submit" class="btn ppwstories-btn">Login</button>
</form>
<div class="form-group">
    <p>Haven't created one? <a class="btn ppwstories-btn" href="{% url 'bulletinBoard:signup' %}">Sign Up</a></p>
</div>
{% endblock %}