{% extends "bulletinBoard/base.html" %}

{% block addtion %}| Sign Up{% endblock %}

{% block bulletinBoard %}
<h2>Daftar</h2>
<form method="post">
    {% csrf_token %}
    {% load bootstrap4 %}
    {% bootstrap_form form %}
    <button type="submit" class="btn ppwstories-btn">Daftar</button>
</form>
<div class="form-group">
    Already have an account <a class="btn ppwstories-btn" href="{% url 'bulletinBoard:login' %}">Login</a>
</div>
{% endblock %}