{% extends 'base.html' %}

{% load static %}
{% block head %}
    <title>William's PPW Stories | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'mainblog/css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'mainblog/js/collapse.js' %}"></script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3 sidebar">
                <img alt="William's photo" src="{% static 'mainblog/img/William.png' %}">
                <h2>William</h2>
                {% block sidebar %}
                {% endblock %}
                <div class="listgroup" style="max-width: 200px; margin: auto;">
                    <a class="list-group-item ppwstories-btn" href="{% url 'mainblog:index' %}">Main Page</a>
                    <a class="list-group-item ppwstories-btn" href="{% url 'mainblog:profile' %}">View Profile</a>
                    <a class="list-group-item ppwstories-btn" href="{% url 'oldprofile:index' %}">PPW Story 1</a>
                    <a class="list-group-item ppwstories-btn" href="{% url 'matkulList:index' %}">Matkul List</a>
                    <a class="list-group-item ppwstories-btn" href="{% url 'eventList:index' %}">Event List</a>
                    <a class="list-group-item ppwstories-btn" href="{% url 'dasdisBook:index' %}">DasdisBook</a>
                </div>
            </div>
            <div class="col-md-9 col-md-offset-3 content">
                <div class="content container-fluid">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}