{% extends "mainblog/base.html" %}

{% block title %}Summary{% endblock %}

{% load static %}
{% block content %}
<h1>See What I have worked on...</h1>
<ul>
    {% for post in allPosts %}
    <li>
        <div class="postpreview">
            <img alt="minithubnail" src="{% static post.mini_thumbnail %}">
            <div class="textbox">
                <h2><a href="{% url 'mainblog:posts' post.pk %}">{{ post.title }}</a></h2>
                <p>{{ post.summary }}</p>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}