{% extends "mainblog/base.html" %}

{% load static %}
{% block content %}
<h1>{{ post.title }}</h1>
<div class="post">
    <img alt="thumbnail" src="{% static post.thumbnail %}">
    <div class="maintext">
        {{ post.content|safe }}
    </div>
</div>
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}