{% extends "mainblog/base.html" %}

{% block title %}William's Profile{% endblock %}
{% load static %}
{% block content %}
<h1>My Profile</h1>
<div class="accordion" id="profileAccordion">
    <div class="card">
        <div class="card-header pb-0" id="headingOne">
            <h2 class="mb-0">
                <button class="btn collapsible" type="button" data-toggle="collapse" data-target="#collapseDescription">
                    Description
                </button>
                <ul style="float: right;">
                    <li style="float: right;"><button class="btn down"></button></li>
                    <li style="float: right;"><button class="btn up"></button></li>
                </ul>
            </h2>
        </div>

        <div id="collapseDescription" class="collapse show" data-parent="#profileAccordion">
            <div class="card-body">
                I love to learn new things, but sometimes I got bored and move on to other things. Learned programming earlier in high school, but I still have much to learn.
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-0" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn collapsible" type="button" data-toggle="collapse" data-target="#collapseExperience">
                    Experience
                </button>
                <ul style="float: right;">
                    <li style="float: right;"><button class="btn down"></button></li>
                    <li style="float: right;"><button class="btn up"></button></li>
                </ul>
            </h2>
        </div>

        <div id="collapseExperience" class="collapse show" data-parent="#profileAccordion">
            <div class="card-body">
                <ul style="list-style-type: circle; margin-left: 25px;">
                    <li>
                        <b>Teaching Assistant of Introduction to Digital Systems</b><br>
                        <p>September 2020 - Present<br>
                        I help creating tasks and assist students in Introduction to Digital Systems.</p>
                    </li>
                    <li>
                        <b>Junior Member of Network Security and Operating System (NetSOS) SIG in RISTEK, Faculty of Computer Science, Universitas Indonesia</b>
                        <p>March 2019 - Present<br>
                        In this group, I learned web and app security and test my skills in Capture The Flag competitions.</p>
                    </li>
                    <li>
                        <b>Staff of Capture The Flag Competition in COMPFEST 2020</b>
                        <p>March 2019 - October 2020<br>
                        I'm assigned to a group whose job was to design challenges for HackerClass, Elimination round, and Final round in jeopardy format.</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-0" id="headingThree">
            <h2 class="mb-0">
                <button class="btn collapsible" type="button" data-toggle="collapse" data-target="#collapseAchievements">
                    Achievements
                </button>
                <ul style="float: right;">
                    <li style="float: right;"><button class="btn down"></button></li>
                    <li style="float: right;"><button class="btn up"></button></li>
                </ul>
            </h2>
        </div>

        <div id="collapseAchievements" class="collapse show" data-parent="#profileAccordion">
            <div class="card-body">
                <ul style="list-style-type: circle; margin-left: 25px;">
                    <li>
                        <b>2nd Place in CTF Pekan RISTEK 2019</b>
                        <p>This is an introductory Capture The Flag by RISTEK where we solve basic and easy challenges</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-header pb-0" id="headingFour">
            <h2 class="mb-0">
                <button class="btn collapsible" data-toggle="collapse" data-target="#collapseSkills">
                    Skills
                </button>
                <ul style="float: right;">
                    <li style="float: right;"><button class="btn down"></button></li>
                    <li style="float: right;"><button class="btn up"></button></li>
                </ul>
            </h2>
        </div>

        <div id="collapseSkills" class="collapse show" data-parent="#profileAccordion">
            <div class="card-body">
                <ul style="list-style-type: circle; margin-left: 25px;">
                    <li>
                        <b>Basic Programming (Java, Python, C++)</b>
                        <p>I have learned Java and Python since I'm entering University. Now, I'm learning to create and use effective algorithms.</p>
                    </li>
                    <li>
                        <b>Basic Web Programming (Django)</b>
                        <p>I could create basic web application. I usually create the application using Django.</p>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="card">
            <div class="card-header pb-0" id="headingFive">
                <h2 class="mb-0">
                    <button class="btn collapsible" type="button" data-toggle="collapse" data-target="#collapseActivity">
                        What am I doing here?
                    </button>
                    <ul style="float: right;">
                        <li style="float: right;"><button class="btn down"></button></li>
                        <li style="float: right;"><button class="btn up"></button></li>
                    </ul>
                </h2>
            </div>
    
            <div id="collapseActivity" class="collapse show" data-parent="#profileAccordion">
                <div class="card-body">
                    What am I doing here? Learning web development, of course! :)
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block sidebar %}
<h2>Contact</h2>
<p>Email: william92@ui.ac.id</p>
<h2>Social Media</h2>
<div style="display: inline-block; margin-bottom: 20px;">
    <a href="https://twitter.com/hori_75" ><img src="{% static 'mainblog/img/twitter.png' %}" alt="twitter" style="width: 50px; height: 50px;"></a>
    <a href="https://www.linkedin.com/in/william-8611851a0/"><img src="{% static 'oldprofile/linkedin.png' %}" alt="Linkedin" style="max-width: 59px; max-height: 59px;"></a>
</div>
{% endblock %}