{% extends "mainblog/post_base.html" %}

{% block title %}Story 4 is live!{% endblock %}

{% block date %}10 October 2020{% endblock %}

{% load static %}
{% block main %}
<img alt="Illustration of webdev" src="{% static 'mainblog/img/web-development.jpg' %}">
<div class="maintext">
    <p>
        I just finished PPW Story 4, here's my experience. Creating web using Django is super fun! You just need to deal with routing, views, and templates in order to make a simple blog. Besides, the template system is very pratical and it's easy to adjust.
    </p>
    <p>
        Finally, I'm getting used to creating html and understand all the tags. In my first experience with creating web is that I don't know all the tags. But, really, you shouldn't have know all the tags, should you? All you need is to see the documentation to find something you could use. Don't be afraid to try and fail. 
    </p>
    <p>   
        The web layout is created by CSS and bootstrap, interesting, isn't it? You just have to set the CSS rules and let the users' browsers to load it for you. Surprisingly, there is such thing as CSS frameworks to be included in html such as Bootstraps, Foundation, Pure, Bulma, etc.
    </p> 
    <p>
        This post is typed directly on html to be sent when you want to see it. Probably there is more effective way to use it, but I think this should be enough for the moment. Next time, I might use database to load the post, cool right?
    </p>
    <p> 
        Creating your own web by Django is fun you should try it. Don't be hestitate and feel how it's easy to use once you have learn it, obviously.
    </p>
</div>
{% endblock %}