{% extends "mainblog/post_base.html" %}

{% block title %}Story 5 is live!{% endblock %}

{% block date %}16 October 2020{% endblock %}

{% load static %}
{% block main %}
<img alt="Illustration of webdev" src="{% static 'mainblog/img/web-development.jpg' %}">
<div class="maintext">
    <p>
        Check out the new feature, MatkulList! This is an example of Django Models usage. You could add Matkuls and remove it. Right now, it's open for everyone!
    </p>
    <p>
        Also, I learned about Django Forms. So I could just use form directly instead of traditional html form way. I even found an interesting template using django-bootstrap4, so I only need to use it and viola! The form is done and it looks pleasing.
    </p>
    <p>   
        I also learn about validations. I override the clean method so if it's not an valid input, the web will send it back with message. It looks cool, right?
    </p> 
    <p>
        I'd like to use Django models to replace this hardtyped article thingy, perhaps. Have fun trying out the feature!
    </p>
</div>
{% endblock %}