{% extends "eventList/base.html" %}

{% block addition %}- Add Event{% endblock %}

{% load static %}
{% load bootstrap4 %}
{% block eventstuff %}
<h2>Add Event</h2>
<form action="{% url 'eventList:add' %}" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
    <input class="btn ppwstories-btn" type="submit" value="add">
</form>
{% endblock %}