{% extends "mainblog/base.html" %}

{% block title %}Events {% block addition %}{% endblock %}{% endblock %}

{% block content %}
<h1>Events</h1>
{% block eventstuff %}
{% endblock %}
{% endblock %}
{% block sidebar %}
<p>Learning web development. Enthutiastic in learning new stuffs.</p>
{% endblock %}