{% extends "eventList/base.html" %}

{% block addition %}{% endblock %}

{% load static %}
{% block eventstuff %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}class="alert alert-danger"
    {% else %} class="alert alert-success" {% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
<a href="{% url 'eventList:add' %}" class="btn ppwstories-btn" style="margin: 10px;">add</a>
<ul>
    {% for event in events %}
    <li>
        <div class="postpreview">
            <div class="textbox">
                <h2>{{ event.title }}</h2>
                <p>
                    Organizer: {{ event.organizer }}<br>
                    Total Participants: {{ event.participant_set.all|length }}
                </p>
                <a href="{% url 'eventList:join' event.pk %}" class="btn ppwstories-btn">View/Join</a>
            </div>
            <div class="textbox">
                <h2>Participants:</h2>
                <ul style="list-style-type: circle; margin-left: 50px;">
                    {% for participant in event.participant_set.all|slice:":5" %}
                    <li>
                        {{ participant.name }}
                    </li>
                    {% endfor %}
                    <li>...</li>
                </ul>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}