{% extends "eventList/base.html" %}

{% block addition %}- {{ event.title }}{% endblock %}

{% load static %}
{% load bootstrap4 %}
{% block eventstuff %}
<h2>Event {{ event.title }}</h2>
<p><b>Organizer:</b> {{ event.organizer }}</p>
<h2>Fill This form to join</h2>
<form action="{% url 'eventList:join' event.pk %}" method="POST" style="margin-bottom: 50px;">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div style="display: inline-block;">
        <input class="btn ppwstories-btn" type="submit" value="Join">
        <a class="btn ppwstories-btn" href="{% url 'eventList:index' %}">Back</a>
    </div>
</form>
<p><b>Participants:</b>
    <ul style="list-style-type: circle; margin-left: 50px;">
        {% for participant in event.participant_set.all %}
        <li>
            {{ participant.name }}
        </li>
        {% endfor %}
    </ul>
</p>
{% endblock %}